* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif, monospace;
}

.container {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card {
    width: 85%;
    max-width: 700px;
    height: auto;
    padding-top: 18px;
    padding-bottom: 40px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    text-align: center;
    position: relative;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  } */

.card {
    width: 85%;
    max-width: 700px;
    padding: 90px 0 36px; 
    background: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    text-align: center;
    position: relative;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}
  

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
  
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}
  
/* .card p {
    color: #38588c;
    line-height: 1.6;
    font-size: 13px;
    font-style: italic;
    margin: 110px 20px 30px;
  } */

.card p {
    color: #38588c;
    line-height: 1.6;
    font-size: 13px;
    font-style: italic;
    margin: 0 20px;
}
  

.card .title {
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 27px;
}
  
.card .desc {
    margin-bottom: 27px;
}  

.card .author {
    margin-bottom: 3px;
  }  

.card .date {
    margin-top: 3px;
    font-size: 9px;
    opacity: 0.7;
}  

body {
    background:
    linear-gradient(
      rgba(255,255,255,0.27)
    ),
    url("photos/blue_sky.jpg") center / cover no-repeat;
}

  /* for mobile */
  
@media (max-width: 430px) {
    .card {
      width: 92%;
      max-width: 390px;
      border-radius: 24px;
      padding-top: 75px;
    }
  
    .avatar {
      width: 120px;
      height: 120px;
      top: -60px;
    }
  
    .card p {
      font-size: 13px;
      line-height: 1.5;
    }
}

  /* for ipad */
  
@media (min-width: 768px) and (max-width: 1024px) {
    .card {
      max-width: 600px;
    }
  
    .avatar {
      width: 130px;
      height: 130px;
      top: -65px;
    }
  
    .card p {
      font-size: 14px;
    }
}
  